<launch>
	<env name="TESSDATA_PREFIX" value="$(find cob_tesseract_data)/" />

	<rosparam command="load" file="$(find cob_read_text)/launch/params.yaml" />

	<node 
name="run_detect" pkg="cob_read_text" type="run_detect" output="screen" args=" /home/rmb-rh/eval/images/haushaltsgegenstaende/stereo_left/depth/1l.png $(find cob_read_text_data)/fonts/correlation.txt $(find cob_read_text_data)/dictionary/full-dictionary_ger">
		</node>
</launch>
