<?xml version="1.0"?>
<launch>
  <node pkg="cob_marker" type="cob_marker" name="cob_marker" output="screen">
	<remap from="/cam3d/rgb/image_raw" to="/camera/rgb/image_color"/>
	<remap from="/cam3d/rgb/camera_info" to="/camera/rgb/camera_info"/>
	<remap from="/cam3d/depth/image_raw" to="/camera/depth/points"/>
	<param name="algorithm" value="dmtx" />
  </node>

</launch>
