<?xml version="1.0"?>

<launch>

  <!-- setup the openni version, if true, the old openni stack is used, otherwise openni2 is used -->
  <arg name="use_old_openni_version" default="true"/>

  <node ns="object_segmentation" pkg="nodelet" type="nodelet" name="object_segmentation_pass_through" args="standalone pcl/PassThrough" output="screen">
    <!--group if="$(arg use_old_openni_version)">
      <remap from="~input" to="/cam3d/depth_registered/points" />
    </group>
    <group unless="$(arg use_old_openni_version)"-->
      <remap from="~input" to="/cam3d/depth/points_xyzrgb" />
    <!--/group-->
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.0
      filter_limit_max: 1.5
      keep_organized: true
    </rosparam>
  </node>

  <node ns="object_segmentation" name="object_segmentation" pkg="cob_object_categorization" type="object_segmentation" output="screen">
    <remap from="input_pointcloud" to="object_segmentation_pass_through/output"/>
    <!--remap from="input_pointcloud" to="/cam3d/depth_registered/points"/-->
    <remap from="output_pointcloud_segments" to="segmented_object"/>
  </node>

</launch>
